{% extends 'base.html' %}
{% block title %}Лента постов{% endblock %}

{% block content %}

<h2 class="text-center mb-4 fw-bold">Лента постов</h2>

<a href="{% url 'posts:post_create' %}" class="btn btn-primary mb-4">
    ➕ Добавить пост
</a>

{% for post in posts %}
<div class="card card-custom mb-4 p-3">

    <h3 class="fw-semibold mb-2">
        <a href="{% url 'posts:post_detail' post.id %}">
            {{ post.title }}
        </a>
    </h3>

    <p class="mb-3">{{ post.content }}</p>

    {% if post.image %}
        <img src="{{ post.image.url }}" class="img-fluid rounded mb-3">
    {% endif %}

    <p class="text-muted small">
        {{ post.created_at|date:"d.m.Y H:i" }}
    </p>

    <div class="d-flex align-items-center">
        <form action="{% url 'posts:post_like' post.id %}" method="post" class="me-2">
            {% csrf_token %}
            <button class="btn btn-outline-danger btn-sm">❤️</button>
        </form>

        <span class="me-auto">{{ post.likes }} лайков</span>

        <a href="{% url 'posts:post_edit' post.id %}" class="btn btn-warning btn-sm">✏️</a>
        <a href="{% url 'posts:post_delete' post.id %}" class="btn btn-danger btn-sm ms-2">🗑</a>
    </div>

</div>
{% endfor %}

{% endblock %}
